@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bodycontact{
  min-height: 100vh;
  overflow-x: hidden;
 background-image: url('./image/backg.png'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg{
    height: 40px;
    width: 40px;
    fill: #D14D00;
}
.containercontact{
  width: 85%;
  margin-top: 110px;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
.containercontact .contentcontact{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contentcontact:hover
.containercontact .contentcontact .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.contentcontact .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contentcontact .left-side .details{
  margin: 14px;
  text-align: center;
}
.contentcontact .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contentcontact .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.contentcontact .left-side .details .text-one,
.contentcontact .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.containercontact .contentcontact .right-side{
  width: 75%;
  margin-left: 75px;
}
.contentcontact .right-side .topic-text{
  font-size: 35px;
  font-weight: 600;
  color: #D14D00;
  padding-bottom: 1rem;
  text-align: center;
}
p{
    padding-bottom: 1rem;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 80%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
}
.right-side .message-box{
  height: 110px;
  background: #F0F1F8;
  border-radius: 6px; 
  
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
  transition: 200ms;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #D14D00;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{

    transform: scale(1.1);
}

@media (max-width: 950px) {
  .containercontact{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .containercontact .contentcontact .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .containercontact{
    margin: 40px 0;
    height: 100%;
  }
  .containercontact .contentcontact{
    flex-direction: column-reverse;
  }
 .containercontact .contentcontact .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .containercontact .contentcontact .left-side::before{
   display: none;
 }
 .containercontact .contentcontact .right-side{
   width: 100%;
   margin-left: 0;
 }
}